@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700');

html {
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  background-color: var(--site-bg);
  background-image: linear-gradient(
    13deg,
    var(--site-bg) 0%,
    var(--site-card-bg-dark) 74%
  );
}

@media screen and (max-width: 500px) {
  body .section {
    padding: 50px 0;
  }
}

@media screen and (max-width: 1288px) {
  body .section {
    padding: 0;
  }
}

* {
  text-rendering: optimizeLegibility;
}
*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --site-bg: #072540;
  --site-card-bg-dark: #173c5d;
  --site-card-bg-light: #6d9dc5;
  --site-text: #92c2db;
  --site-highlight: #ff8ae2;
  --site-text-default: #eeeeee;
  --site-highlight-dark: #924668;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #fff;
}

/* NAVBAR */

header {
  display: flex;
  display: block;
}

#nav-logo {
  content: url(https://hacktoberfest.digitalocean.com/assets/h-light-833607d3b00215da03d184b4123e92b82478d565ab73161880dfe02f04bbeddc.svg);
  width: 50px;
  margin-left: 30px;
  padding: 7px;
}

.navbar {
  width: 100vw;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.45);
  align-items: center;
}

.navbar a {
  color: #f2f2f2;
  float: left;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #fdfdfd;
  color: black;
  transform: scale(1.1);
  transition: transform 0.1s;
}

.navbar .icone {
  display: none;
}

@media screen and (max-width: 650px) {
  .nav-wrapper a:not(:first-child) {
    display: none;
  }

  .nav-wrapper a.icone {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .nav-wrapper.responsive {
    position: relative;
  }

  .nav-wrapper.responsive a.icone {
    top: 0;
    right: 0;
    position: absolute;
  }

  .nav-wrapper.responsive a {
    background-color: #0d2133;
    color: #fff;
    transform: scale(1);
    float: none;
    text-align: left;
    display: block;
  }

  .nav-wrapper.responsive a:hover {
    text-decoration: underline;
  }
}

/* FIM NAVBAR */

input {
  background-color: var(--site-card-bg-dark);
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  color: var(--site-text);
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

input::placeholder {
  color: #bbb;
}

input:focus {
  outline: none;
}

.card {
  background-image: linear-gradient(
    315deg,
    var(--site-card-bg-dark) 0%,
    var(--site-card-bg-light) 100%
  );
  border-radius: 20px;
  box-shadow: 0px 2px 20px rgba(61, 27, 43, 0.1);
  display: flex;
  padding: 3rem;
  max-width: 800px;
  margin-bottom: 10px;
}

.avatar {
  border: 10px solid var(--site-card-bg-dark);
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.user-info {
  color: var(--site-text-default);
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  // O valor abaixo foi alterado de 400px para 105px para resolver a issue #30
  max-width: 105px;
  text-transform: capitalize;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.lang {
  background-color: var(--site-card-bg-light);
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.section-contributos {
  display: flex;
  justify-content: space-between;
}

main {
  color: var(--site-text);
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.up {
  animation-name: up;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
}
